body {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  color: white;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

h1 {
  margin-top: 0px;
  font-size: 48px;
  color: #fbc00a;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
h2 {
  margin-top: 0px;
  color: #767983;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}
h4 {
  color: #f95509;
  font-family: "Quicksand", sans-serif;
}
p {
  color: #a1a4aa;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  padding: 15px, 20px;
}
ul {
  list-style: none;
}
a {
  color: lightgrey;
  text-decoration: none;
}

.wrapper {
  background-color: white;
  border: 1px solid #a1a4aa;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  color: #a1a4aa;
}
.date,
.time {
  color: #a1a4aa;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  text-align: right;
}
.city {
  text-align: right;
  padding: 24px;
}
.col-sm {
  max-width: 140px;
  display: block;
  padding-left: 35px;
  margin: 0 auto;
}
.card-title {
  color: #1495c4;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.card-body {
  text-align: center;
}
.card-text {
  color: #f95509;
  font-size: 16px;
}
.search-button {
  border-radius: 5px;
  border: 1px #1495c4;
  background: #1495c4;
  color: #fff;
  font-size: 16px;
  line-height: 12px;
  padding: 10px 12px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
.humidity,
.wind {
  color: #a1a4aa;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}
.icon img {
  width: 100%;
  position: absolute;
  top: -50%;
}
